ADMIN_EMAIL=<admin-email>
ADMIN_PASS=<admin-pass>
BOT_TOKEN=<your-bot-token>
DEBUG=<true/false>
PG_HOST=<postgres-server-ip>
PG_PORT=<postgres-server-port>
PG_DB=<postgres-database-name>
PG_USER=<postgres-username>
PG_PASS=<postgres-password>
SESSION_KEY=<fernet-key>
